*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# .xml files
vcs.xml
workspace.xml

# test.txt file that Nick uses for testing
test.txt

#
treenode.ser
